@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
	font-family: "Lato", "Helvetica Neue", "Helvetica", "sans-serif"; 
	font-size: 16px;
	font-weight: 300px;
	background-color: #E9EAEE;
}

h1, h2, h3, h4, h5, h6 {
  	font-family: "Raleway", "Helvetica Neue", "Helvetica", "sans-serif";
}

h2 {
	color: #BC6026;
}

dd {
	font-style: italic;
	margin-left: 1em;

}

/* Header Area */
#headerArea {
	padding-top: 3em;
}

#motto {
	display: none;
}

/* Navigation Bar */
nav.navbar-default {
	background-color: #181C22;
	display: inline;
}

nav ul a {
	margin-left: 15px;
	fill: white;
	color: white;
	font-size: 16px;
	padding: 0.5em;
	font-variant: small-caps;
}

nav svg {
	height: 1em;
}

nav a:hover{
	text-decoration: none;
	color: #D87E28;
	fill: #D87E28;
}

/* Headline styling */
#headline {
	font-style: italic;
}

#headline svg {
	margin-bottom: 1em;
    height: 1.5em;
	display: none;
	fill: #BC6026;
}

/* Information/Cafe Section styling*/
#information {
	background-color: #DBDCE3;
	padding-top: 2.5em;
	padding-bottom: 1em;
}

#information svg {
	fill: #BC6026;
	height: 1.5em;
	margin-bottom: 1.5em;
}

#map {
	border-radius: 5px;
}

/* Menu styling */
#menu {
	padding-top: 1em;
}

/* Story section styling */ 
#story {
	background-color: #DBDCE3;
}

#story img {
	margin-left: 1em;
	float: right;
	border-radius: 5px;
	max-height: 300px;
}

/* footer section styling*/
#footer {
	border-top: 3px solid #D87E28;
	background-color: #AFB3C2;
	font-size: 12px;
	padding-top: 1em;
	clear: both;
}

/* Coming soon section of order sheet */
#comingSoon {
	padding-top: 1em;
}


/* Section handles screens wider that 768px */
@media screen and (min-width: 768px) {
    body {
    	font-size: 20px;
    }

    h2 {
		text-align: center;
		padding-bottom: 1em;
	}

	/* Header area */
    #headerArea {
    	background-image: url(../img/background-sm.jpg);
    	background-repeat: no-repeat;
    	background-size: cover;
    	min-height: 550px;
    	height: 100%;
    	color: white;
    	text-align: right;
    	padding-right: 3em;
    }

    #motto {
    	display: block;
    }

    /* Headline */
    #headline {
    	font-size: 1.25em;
    	text-align: center;
    	padding-top: 3em;
    	padding-bottom: 3em;
    }

    #headline svg {
    	display: block;
    	margin: auto;
    	margin-bottom: 1em;
    }

    /* Navigation */
    nav.navbar-default {
    	background-color: rgba(24, 28, 34, 0.8);
    }

    nav ul a {
    	padding-left: 1em;
    	padding-right: 1em;
    }

    /* Story section */
    #story {
    	padding-top: 1em;
    	padding-bottom: 1em;
    }

    #story img {
    	max-height: 400px;
    }

    /* Footer */
    #footer .col-sm-9 {
    	text-align: right;
    }

    /* Coming soon (ordering section) */
    #comingSoon {
    	font-size: 20px;
    	padding-left: 5em;
    	padding-bottom: 1em;
    }
}

/* Section handles screens wider than 992px */
@media screen and (min-width: 992px) {
	#headerArea {
		background-image: url(../img/background-md.jpg);
	}

	h1 {
		font-size: 4em;
	}
}

/* Screen handles screens wider than 1200px */
@media screen and (min-width: 1200px) {
	#headerArea {
		background-image: url(../img/background-lg.jpg);
	}
}